    a:link {
        color: red;
    }

    /* visited link */
    a:visited {
      color: green;
    }

    /* mouse over link */
    a:hover {
    color: hotpink;
     }


     ul {
        list-style-type: none;
        margin: 00;
        padding: 00;
      }

      li {
        display: inline;
      }
      
      a {
        display: block;
      }
